.moreInfor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}
.today {
  font-size: 20px;
  padding: 10px;
  position: fixed;
  background: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 5px 5px 0px #333;
  color: #333;
  z-index: 2000;
}
@media (max-width: 45rem) {
  .today {
    bottom: 0px;
    right: 0px;
    border-radius: initial;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
.moreInfor a {
  color: black;
}
.today:hover h3 {
  color: tomato;
}
